---

---

<head>
    <!-- Metatags Básicas -->
    <meta charset="UTF-8" />
    <title>Portfolio - Pedro Escobar</title>
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="title" content="Portfolio - Pedro Escobar" />
    <meta
        name="description"
        content="Portfólio dedicado a apresentar quem sou e os projetos que desenvolvi. Explore meus trabalhos, entre em contato e conheça mais sobre minha trajetória e habilidades."
    />
    <meta name="author" content="Pedro Escobar Missola" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Metatags de SEO -->
    <link rel="canonical" href="https://missolapedro.github.io/portfolio/" />

    <!-- Metatags de Mobile -->
    <meta name="theme-color" content="#4285f4" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
        name="apple-mobile-web-app-status-bar-style"
        content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/portfolio/logo.svg" />

    <!-- Metatags de Segurança -->
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; img-src 'self' data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />

    <meta name="generator" content={Astro.generator} />
</head>
