---
const website_name = "Petter Portfolio";
---
    <nav class="flex justify-between text-white h-10 items-center px-6 py-8">
        <img 
            src="/portfolio/logoCompleto.svg" 
            alt=""
            width="256"
            >
        <div class="inline-flex gap-6 font-medium">
            <a href="/portfolio/index" class="uppercase">Home</a>
            <a href="/portfolio/#" class="uppercase">About</a>
            <a href="/portfolio/#" class="uppercase">Projects</a>
            <a href="/portfolio/#" class="uppercase">Contact</a>
        </div>
    </nav>
